/*******TAGS SELECTOR*******/

body {
  background-color: #B9CAC8;
  text-align: center
}
hr {
    height: 1px;
    border-color: #F6F8DD;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    height: 8px;
    width: 5%;
    }
h1 {
  color: #886D44;
  text-align: center;
}
h3 {
  color: #886D44;
  text-align: center;
}
p {
  color: #234343
  text-align: center;
}
td,tr {
  text-align: center;
}
img {
  height: auto;
  border-radius: 50%;
}
* {
 font-family: monospace;
}
a:link {
  text-decoration: none;
  color: #886D44;
}

/*******CLASS SELECTOR*******/
/* If you have grouped elements you want to style*/
/* You can use many classes say class="moon" "star"*/
.cam, .plants, .barbell {
  background-color: #F6F8DD
}

.cam:hover, .plants:hover, .barbell:hover {
  background-color: #234343
}
.row {
  display: flex;
  justify-content: center;

}

.column {
  flex: 100%;
  padding: 50px;
  justify-content: center;

}

/*******ID SELECTOR*******/
/* If you have only a single identifier*/
/* You cannot use many id say id="tree.*/
#table {
  color: #234343;
  width: 80%;
  border-collapse: collapse;

}
#heading {
  font-size: 30px;
}
#job {
  font-size: 20px;
  font-color: #886D44;
}
